<h1>Listing Profiles</h1>
 
<%= link_to 'New profile', new_profile_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
 
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= profile.email %></td>
      <td><%= link_to 'Show profile', profile_path(profile) %></td>
      <td><%= link_to 'Edit profile', edit_profile_path(profile) %></td>
      <td><%= link_to 'Destroy profile', profile_path(profile),
      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>